<!doctype html>
<title>Ready to eat?</title>
<h1>Find out when you should eat your pineapple for peak flavor.</h1>
<p> For best results eat in {{days}} days! </p>
<h1> How strongly does the bottom of your pineapple smell?</h1>
<p>On a scale from 1 to 10 how strongly would you rate the smell.</p>
<ul style="list-style-type:none;">
  <li><a href="/pineapple/ready/1">1</a></li>
  <li><a href="/pineapple/ready/2">2</a></li>
  <li><a href="/pineapple/ready/3">3</a></li>
  <li><a href="/pineapple/ready/4">4</a></li>
  <li><a href="/pineapple/ready/5">5</a></li>
  <li><a href="/pineapple/ready/6">6</a></li>
  <li><a href="/pineapple/ready/7">7</a></li>
  <li><a href="/pineapple/ready/8">8</a></li>
  <li><a href="/pineapple/ready/9">9</a></li>
  <li><a href="/pineapple/ready/10">10</a></li>
</ul>